<h3>Edit existing Student</h3>

{{#if error}} <span>{{error}}</span>{{/if}}



<form class="form-inline" method="POST" action="/student/:first_name">
  <div class="form-group">
    <input type="text" name="first_name" class="form-control" placeholder="firstname">
  </div>
  <input type="submit" class="btn btn-primary" value="Search">
</form>
